@model KSUAdvising.Models.LoginViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Index";
}

@section Scripts {

<script type="text/JavaScript">

    $(document).ready(function () {
        //resets text boxes
        $("#userName").attr("autocomplete","off");;
        $("#password").text('');

        //gets the college ID to check if its valid, if not it must be selected.
        var collegeID = @Html.Raw(JsonConvert.SerializeObject(Model.col));
        if(parseInt(collegeID) == -1){
            //if not make initial user select college
            noCollege(@Html.Raw(JsonConvert.SerializeObject(Model.allCollegeNames)),@Html.Raw(JsonConvert.SerializeObject(Model.allCollegeNames.Count)));
        }
        else
        {
            //if specified display in top right
            displayCollege(@Html.Raw(JsonConvert.SerializeObject(Model.collegeName)));
        }

        //is isValidLogin is false then show an error
        var isValidLogin = @Html.Raw(JsonConvert.SerializeObject(Model.isValid));
    
        if(!isValidLogin){
            showLoginError();
        }

        //click handler for college selection
        $("#collegeOptions > li > a").click(function(){
            if (confirm("Are you sure you want to set "+$(this).text()+" as the college?") == true) {
                setCollege(this.id);
            }             
        });
    });

    function noCollege(collegeList,numColleges){
        //adds all colleges to list
        for(var i = 0; i < numColleges; ++i)
        {
            $("#collegeOptions").append("<li><a id='"+(i + 1) +"' class='button show-for-medium-up'>"+collegeList[i]+"</a><a id='"+(i + 1) +"' class='button tiny hide-for-medium-up'>"+collegeList[i]+"</a></li>");
        }
        $.blockUI({
            message:$("#chooseCollegeColorBox"),
            css: { backgroundColor: '#F9B71B'},
        });
    }

    function displayCollege(collegeName){
        $("#collegeName").text(collegeName);
    }

    function setCollege(collegeID){
        //submit selected college
        $("#selectedCollege").val(collegeID);
        $("#submiteCollege").submit();

        //empties dropdonw list
        $("#collegeDrop").html('');
    }

    function showLoginError(){
        $.blockUI({
            message:$("<h3 style='color:white;'>Invalid Username or Password</h3>"),
            css: { backgroundColor: 'red'},
            timeout:2000
        });
    }

</script>
}
<style>
    #collegeName{
        color:white;
        font-size: 1em;
    }
    #collegeDropButton{
        background-color:#009DDB;
    }
    #loginButton{
        background-color: #009DDB;
    }
    
    .icon-bar > a:hover
    {
        background-color: #002664;
    }
    
    #passwordError{
        background-color: #9E3039;
    }
    #usernameError{
       background-color: #9E3039;
    }
    .login_header img{
        width: 100px !important;
    }
</style>

   <!-- Start of Layout Skeleton-->
<div id="navbar" class="icon-bar three-up">

    <a id="home_button" class="item">
        <span class="login_header"><img src="~/Content/ksu_logo.png"/></span>
    </a>
    <a>
    </a>
    <a class="item">
        <span id="collegeName"></span>
    </a>
</div>


<div class="large-4 large-centered columns">
    <form action="Login/Authenticate" autocomplete="off" data-abide>
        <fieldset>
            <legend>Login</legend>
            <div class="row collapse postfix-radius">
                <div class="email-field small-6 columns">
                    <label>
                        <input id="userName" type="text" name="UserName" placeholder="Flashline ID" required>
                    </label>
                    <small class="error">An email address is required.</small>
                </div>
                <div class="small-6 columns">
                    <span class="postfix">@@kent.edu</span>
                </div>
            </div>
            <div class="password-field">
                <label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                </label>
                <small class="error">A password is required</small>
            </div>
        </fieldset>
        <input type="submit" class="button success" value="Login" id="loginButton"/>
    </form>

</div>

<div id="chooseCollegeColorBox" style="display:none; padding:5px; ">
    <form id="submiteCollege" action="Login/SetCollege" data-abide>
        @*<div id="collegeOptions">
        </div>
        *@


        <ul id="collegeOptions" class="stack button-group">

        </ul>
        <input name="collegeID" id="selectedCollege" type="text" style="display:none;" />
     </form>
</div>
<!-- End of layout skeleton -->

